*{
    margin: 0;
    padding: 0;
}
div.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: rgb(137, 137, 190) ;
}
button{
    display: none;
    margin: 15px;
    padding: 9px;
    font-size: 25px;
    border: 2px solid red;
    color: black;
    font-weight: bolder;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
h2{
    text-align: center;
    margin: 10px;
    padding: 11px;
    display: none;
    color: pink;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
}
#ans{
    text-align: center;
    margin: 20px;
    padding: 40px;
    color: white;
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
}
#out{
    padding: 20px;
    margin: 10px;
    border: 2px solid grey;
    color: red;
    border-radius: 90px;
    background-color: white;
}
#heading{
    display: none;
}
#play{
    display: none;
}
#task1{
    display: none;
}
#ok{
    display: none;
}
#value{
    display: none;
}
#submit{
    display: none;;
}
#ans{
    display: none;
}